
__pycache__/
*.pyc
*.pyo
*.pyd


env/
venv/
.venv/


.git/
.gitignore


logs/
*.log


.vscode/
.idea/


.DS_Store
Thumbs.db

.ipynb_checkpoints/


build/
dist/
*.egg-info/


.pytest_cache/
.coverage


.streamlit/


tmp/
temp/


artifacts/raw_data/*.zip